@import url('https://fonts.googleapis.com/css2?family=Pridi&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Pridi", serif;
}

body {
  background-color: rgb(241 245 249);
}

*::-webkit-scrollbar {
  height: 3px;
  width: 3px;
}

*::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: #172554;
}